<.flash_group flash={@flash} />

<section class="min-h-screen flex flex-col items-center">
  <.global_header current_user={@current_user} />

  <main
    id="content"
    class="grow flex flex-col w-full max-w-[85rem] md:px-8 p-0 align-middle"
    role="main"
  >
    <%= @inner_content %>
  </main>
</section>
